@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),  url('./fonts/Vazir.woff2') format('woff2');
}
/* #root {
  font-family: Vazirmatn !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
label {
  font-family: Vazirmatn !important;
}
input {
  font-family: inherit;
}
span {
  font-family: 'Vazir' !important;
}
label {
  font-family: 'Vazir' !important;
}
textarea {
  font-family: 'Vazir' !important;
}
/* td {
  font-family: Vazirmatn !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* p {
  font-family: Vazirmatn !important;
} */
/* button {
  font-family: Vazirmatn !important;
} */
/* span {
  font-family: Vazirmatn;
} */
/* body {
  margin: 0;
  font-family: Vazirmatn !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

