@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),  url('./fonts/Vazir.woff2') format('woff2');
}
/* #root {
  font-family: Vazirmatn !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
label {
  font-family: Vazirmatn !important;
}
input {
  font-family: inherit;
}
span {
  font-family: 'Vazir' !important;
}
label {
  font-family: 'Vazir' !important;
}
textarea {
  font-family: 'Vazir' !important;
}

.elevatedBox {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
  /* padding: 16px; */
  /* background-color: white; */
  /* border-radius: 8px; */
}
/* td {
  font-family: Vazirmatn !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* p {
  font-family: Vazirmatn !important;
} */
/* button {
  font-family: Vazirmatn !important;
} */
/* span {
  font-family: Vazirmatn;
} */
/* body {
  margin: 0;
  font-family: Vazirmatn !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

